<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear viajero</title>

    {# Librerias de ajenas al sistema #}
    <script src="{{ asset('bundles/portafoliopage/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/portafoliopage/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/portafoliopage/css/strapp_styles.css') }}">
    <script src="{{ asset('bundles/portafoliopage/js/angular.min.js') }}"></script>

    {# Modulos app del sistema #}
    <script src="{{ asset('bundles/portafoliopage/angular/app.js') }}"></script>

    {# Bundles de symfony #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('bundles/portafoliopage/angular/strapp/testStrappController.js') }}"></script>
</head>
<body ng-app="app" ng-controller="testStrappController">
<div>
    <div class="row">
        <div class="col-sm-3">
            <label for="name">Destino</label>
            <input type="text" placeholder="Put your destiny here" ng-model="newDestiny">
        </div>
        <div class="col-sm-3">
            Origen
            <input type="text" placeholder="Put your origin here" ng-model="newOrigin">
        </div>
        <div class="col-sm-3">
            Nombre
            <input type="text" placeholder="Put your name here" ng-model="newName">
        </div>
        <div class="col-sm-3">
            Codigo
            <input type="text" placeholder="Put your code number here" ng-model="newCodigo">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label for="name">Fecha</label>
            <input type="text" placeholder="Put your date here" ng-model="newDate">
        </div>
        <div class="col-sm-3">
            <label for="name">Otros</label>
            <input type="text" placeholder="Put your other here" ng-model="newOther">
        </div>
        <div class="col-sm-3">
            <label for="name"> Cedula Viajero </label>
            <input type="text" placeholder="Put your traveler Id here" ng-model="newViajero">
        </div>
        <div class="col-sm-3">
            <label for="name"> Nombre Agencia </label>
            <input type="text" placeholder="Put your agency name here" ng-model="newAgencia">
        </div>
    </div>


    <button ng-click="updateDataStrappViaje()"> Actualizar </button>

    <div class="row">
        <div class="col-sm-12">
            Usuarios actualizados : [[ response ]]
        </div>
    </div>
    <button ng-click="homeStrapp()">home</button>
</div>
</body>

<script>
    var codigo2 = "{{ data }}";
</script>
</html>