<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block javascripts %}
        {# Librerias del sistema#}
        <script src="{{ asset('bundles/portafoliopage/js/angular.min.js') }}"></script>

        {# Modulos del sistema #}
        <script src="{{ asset('bundles/portafoliopage/angular/app.js') }}"></script>
        <script src="{{ asset('bundles/portafoliopage/angular/service/userService.js') }}"></script>
        <script src="{{ asset('bundles/portafoliopage/angular/controller/userController.js') }}"></script>

        {# Bundles de symfony #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% endblock %}
    <title>Inicio</title>
</head>
<body ng-app="app" ng-controller="userController">
    <input type="text" placeholder="Put your name here" ng-model="newUser">
    <button ng-click="createUser()">press me</button>
    User added : [[ newUserAdded.name ]] --
    User number : [[ newUserAdded.total ]]
    {#User added : [[ data ]]#}
</body>
</html>
